/Temp-Scripts/*
/Org-Project*/*
/Sensitive/*
/Work/*
/Work-*/*
/Sql-Queries-Office/*
/Sql-Queries-Work/*
/Sql-Queries-Personal/*
/Sql-Queries-Private/*
/Sql-Queries-Volatile/*
/Volatile/*
/Private/*
/Private/Private.ssmssqlproj
/Sensitive/Sensitive.ssmssqlproj
/Volatile/Volatile.ssmssqlproj
/Work/Work.ssmssqlproj
/SQLMonitor/dist/
/SQLMonitor/dist/*
/SQLMonitor/build/
/SQLMonitor/build/*
/SQLMonitor/*.spec
